body {
  font-family: "Trebuchet MS", "Lucida SansUnicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: #457890;
}

h1 {
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}